USE [hocsinh]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hocsinh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	PRIMARY KEY CLUSTERED 
	(
		[id] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[hocsinh] ([name], [email]) VALUES (N'Nguyễn Văn A', N'a@gmail.com')
INSERT [dbo].[hocsinh] ([name], [email]) VALUES (N'Trần Thị B', N'b@gmail.com')
INSERT [dbo].[hocsinh] ([name], [email]) VALUES (N'Lê Văn C', N'c@gmail.com')


SELECT TOP (1000) [id]
      ,[name]
      ,[email]
  FROM [dbo].[hocsinh]
