-- Tạo database nếu chưa có
CREATE DATABASE IF NOT EXISTS `hocsinh` CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE `hocsinh`;

-- Xóa bảng cũ nếu tồn tại
DROP TABLE IF EXISTS `students`;

-- Tạo bảng theo chuẩn MySQL
CREATE TABLE `students` (
    `id` INT NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) CHARACTER SET utf8mb4 NULL,
    `email` VARCHAR(100) NULL,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB;

-- Chèn dữ liệu
INSERT INTO `students` (`id`, `name`, `email`) VALUES (1, 'Nguyễn Văn A', 'a@gmail.com');
INSERT INTO `students` (`id`, `name`, `email`) VALUES (2, 'Trần Thị B', 'b@gmail.com');
INSERT INTO `students` (`id`, `name`, `email`) VALUES (3, 'Lê Văn C', 'c@gmail.com');